workspace/GSC Store/1531318487058/localhost.OrderSoupService_schema1.9080.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejb.webage.com/" version="1.0" targetNamespace="http://ejb.webage.com/">

  <xs:element name="BadCustomer" type="tns:BadCustomerException"></xs:element>

  <xs:element name="orderSoup" type="tns:orderSoup"></xs:element>

  <xs:element name="orderSoupResponse" type="tns:orderSoupResponse"></xs:element>

  <xs:complexType name="orderSoup">
    <xs:sequence>
      <xs:element name="arg0" type="tns:soup" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="soup">
    <xs:sequence>
      <xs:element name="customerName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="soupType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderSoupResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BadCustomerException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="soupOrdered" type="tns:soup" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>